---
layout: home
title: Gig'o'Books
---

<a class="anchor" id="home"></a>
<div class="pane pane-splash"><div class="wrapper">
  <h1 class="page-heading pane-title">Accounting, tax reporting, and invoicing for gigs and side income</h1>

  <div class="blurb">
    Quickly and easily so you can do more important stuff. FREE!
  </div>

  <div class="screenshots">
    <a href="/assets/media/Screenshot-1.png"><img class="screenshot" src="/assets/media/Screenshot-1.png" alt="screenshot" /></a>
    <a href="/assets/media/Screenshot-3.png"><img class="screenshot" src="/assets/media/Screenshot-3.png" alt="screenshot" /></a>
    <a href="/assets/media/Screenshot-2.png"><img class="screenshot" src="/assets/media/Screenshot-2.png" alt="screenshot" /></a>
  </div>

  <div class="pad"><div class="pad-inner">
    <div class="cta">
      <div class="green-button"><a href="/webapp">Try Gig'o'Books</a></div>
      <p class="fineprint">(No registration required)</p>
    </div>
  </div></div>
  <img class="image" src="/assets/media/photo-woman.jpg" alt="photo of woman" />
</div></div>

<a class="anchor" id="intro"></a>
<div class="pane pane-intro"><div class="wrapper">
  <h2 class="pane-title">Gig'o'Books</h2>

  <p>
    If you have a gig (or several gigs!) or other source of side income and you need to do some simple accounting, tax reporting or invoicing, then Gig'o'Books is for you.
  </p><p>
    <strong>Gig'o'Books</strong> is an accounting app tailored for simple income-generating activities. All you have to do is enter sales and purchases data and Gig'o'Books will record the accounts for you. It can also <strong>generate financial reports</strong>, help <strong>prepare your tax reports</strong>, and <strong>create invoices</strong>.
  </p><p>
    It's not worth spending hundreds of dollars to buy full-featured accounting software just for your simple gig. Nor do you want to be paying money every month just to record a few transactions (All those monthly charges add up!). In contrast, <strong>Gig'o'Books is free</strong>.
  </p><p>
    Gig'o'Books is simple and easy to use. <strong>Spend as little time as possible</strong> on accounting, tax reporting or invoicing. The less time you spend, the better. Then go and <strong>do more important stuff</strong>.
  </p>

  <div class="center">
    <p>
      <strong>Simple. Easy-to-use. Free.</strong><br />
      Interested?
    </p>
    <div class="green-button"><a href="/webapp">Give it a try!</a></div>
    <p class="fineprint">(No registration required)</p>
  </div>
</div></div>

<!--
<div class="pane pane-dodonts"><div class="wrapper">
  <p class="fineprint">
    (Caution: Gig'o'Books is not for everyone. Read on to see if <strong>YOU</strong> are suitable for Gig'o'Books.)
  </p>

  <h2 class="pane-title">Gig'o'Books DO's and DON'Ts</h2>

  <div class="dos"><div class="inner">
    <p><strong>DO use Gig'o'Books IF:</strong></p>

    <ul><li>
      You are doing something by yourself and you have simple affairs.
    </li><li>
      You want something that's tailored to your niche, is simple, and without unnecessary clutter.      
    </li></ul>

    <ul><li>
      You need to create tax-compliant invoices with a minimum of fuss.
    </li><li>
      You need to create regular tax reports for your local tax/revenue authority with a minimum of fuss.
    </li></ul>

    <ul><li>
      You use spreadsheets (ie. Excel, Google Sheets) or a cashbook to do your accounting and wonder if there's something better.
    </li></ul>

    <ul><li>
      You <strong>LOVE</strong> free!
    </li><li>
      You <strong>LOVE</strong> great customer support straight from the developers.
    </li></ul>
    
    <ul><li>
      You resent artificial restrictions that push you into paying more money.
    </li><li>
      You don't want your data to be in the 'cloud' and locked-in by the vendor.
    </li></ul>
    
    <ul><li>
      You want something that's open source and will keep working until you retire.
    </li><li>
      You need to handle multiple currencies.
    </li><li>
      You need double-entry accounting. (If you don't know what this is, then don't worry.)
    </li><li>
      You are privacy conscious.
    </li></ul>

    <ul><li>
      You don't have employees (but having contractors is okay).
    </li><li>
      You don't have to keep track of inventory/stock (unless it's only a small amount).
    </li></ul>
  </div></div>

  <div class="donts"><div class="inner">
    <p><strong>DON'T use Gig'o'Books IF:</strong></p>
  
    <ul><li>
      You have employees or you have to do payroll.
    </li><li>
      You have to keep track of inventory/stock (unless it's only a small amount).
    </li><li>
      You have complicated financial affairs.
    </li><li>
      Someone else works on the accounts at the same time as you.
    </li><li>
      You need automation or integration with third party services.
    </li></ul>
    
    <ul><li>
      You like spending money unnecessarily.
    </li><li>
      You like having to pay money monthly so your data doesn't get deleted, or
    </li><li>
      You like having to pay for updates every few years so you can continue to access your data.
    </li><li>
      You like having features that you never use.
    </li><li>
      You like having features that you don't understand.
    </li></ul>
  </div></div>

  <div class="post-do-dont">
    <p>If you are a <strong>DO</strong>-er, then Gig'o'Books has been tailored especially for you. It's your best choice.</p>
    <p>Are you <strong>DO</strong> or <strong>DON'T</strong>?</p>
    <div class="green-button"><a href="/webapp">DO? Try Gig'o'Books!</a></div>
  </div>
</div></div>
-->

<a class="anchor" id="demo"></a>
<div class="pane pane-demo"><div class="wrapper">
  <h2 class="pane-title">Demo</h2>

  <div class="center">
    <p>
      Alternatively, to look at a demo, start Gig'o'Books and select <code>File</code> and then <code>Demo</code> from the menu.
    </p>
    <div class="green-button"><a href="/webapp">Gig'o'Books Demo</a></div>
  </div>  
</div></div>

<a class="anchor" id="pricing"></a>
<div class="pane pane-pricing"><div class="wrapper">
  <h2 class="pane-title">Pricing</h2>

  <div class="center">
    Gig'o'Books is free.
  </div>
</div></div>

<a class="anchor" id="features"></a>
<div class="pane pane-features"><div class="wrapper">
  <h2 class="pane-title">Features</h2>

  <div class="list">
    {% include hs-checkbox.html id="editions-f" %}
    <div class="feature feature-editions">
      <h3 class="name">Desktop or web edition</h3>
      {% include hs-toggle.html id="editions-f" %}

      <div class="details hs-target">
        <p>
          Gig'o'Books comes in two (or maybe in the future, three) editions.
        </p><p>
          The Community / desktop edition (which is the original edition) runs on your Windows*/macOS/Linux desktop computer. It is free and open source.
        </p><p>
          The Community edition is traditional 'old style' desktop software and saves data files to the local computer.
        </p><p>
          The Web edition is the Community edition re-targeted to run in a web browser. It can run on any device (Windows/macOS/Linux/iPhone/Android) that has a modern web browser. It is free.
        </p><p>
          The Web edition also saves data files to the local computer.
        </p><p>
          In the future, we might:
        </p><ul>
          <li>
            Create a Premium edition for the desktop (or for smartphones) and charge for it, or
          </li><li>
            Put advertising on the Web edition.
          </li>
        </ul><p>
          However, these are speculative and might not even happen. (We're only mentioning them because some people insist on knowing our monetisation plan even though we don't know what it is yet.)
        </p><p class="fineprint">
          *The Community edition hasn't been ported to Windows yet but this is expected to be a straightforward task.
        </p>
      </div>
    </div>

    {% include hs-checkbox.html id="free-f" %}
    <div class="feature feature-free">
      <h3 class="name">FREE!</h3>
      {% include hs-toggle.html id="free-f" %}

      <div class="details hs-target">
        <p>
          Both the Community desktop edition and the Web edition of Gig'o'Books are free. There are no subscription fees.
        </p>
      </div>
    </div>

    {% include hs-checkbox.html id="simple-f" %}
    <div class="feature feature-simple">
      <h3 class="name">Niche and simple</h3>
      {% include hs-toggle.html id="simple-f" %}

      <div class="details hs-target">
        <p>
          Gig'o'Books is tailored at a niche and contains only features which are needed. It does not have all the features of full accounting software but that's actually a good thing. It means Gig'o'Books is simple and easy to use and it's not cluttered with unnecessary features.          
        </p><p>
          For example, there is no dedicated support for payroll or stock-keeping. (Albeit such data could still be entered via the generic double entry book-keeping feature.)
        </p>
      </div>
    </div>

    {% include hs-checkbox.html id="fast-f" %}
    <div class="feature feature-fast">
      <h3 class="name">Fast and offline</h3>
      {% include hs-toggle.html id="fast-f" %}

      <div class="details hs-target">
        <p>
          Gig'o'Books is fast.
        </p><p>
          Instead of running on a server 'somewhere in the cloud' like other SaaS accounting software, it runs fully (in a web browser) on your local computer or phone. Changes don't need to be uploaded to the cloud and then re-fetched. Rather, changes can appear instantaneously.          
        </p><p>
          This also means Gig'o'Books can run offline without an internet connection.          
        </p>
      </div>
    </div>

    {% include hs-checkbox.html id="nonsub-f" %}
    <div class="feature feature-nonsub">
      <h3 class="name">Non-subscription</h3>
      {% include hs-toggle.html id="nonsub-f" %}

      <div class="details hs-target">
        <p>
          There are no subscription fees with Gig'o'Books. 
        </p><p>
          Other SaaS accounting software charges you every month, even if you don't use it. Gig'o'Books does not.          
        </p><p>
          Some desktop accounting software force you to pay for new updates every few years, even if there are no useful changes. Gig'o'Books does not.          
        </p>
      </div>
    </div>

    {% include hs-checkbox.html id="owndata-f" %}
    <div class="feature feature-owndata">
      <h3 class="name">Own your data</h3>
      {% include hs-toggle.html id="owndata-f" %}

      <div class="details hs-target">
        <p>
          Don't be subject to vendor lock-in.
        </p><p>
          Gig'o'Books saves your data to your computer or phone. It does not store it 'somewhere in the cloud' that you have no control over.
        </p><p>
          Instead, own and manage your data yourself. Do whatever you want with it. If you want to save it to your own cloud folder and have it sync-ed across multiple devices, you can.          
        </p>
      </div>
    </div>

    {% include hs-checkbox.html id="opendata-f" %}
    <div class="feature feature-opendata">
      <h3 class="name">Open and accessible</h3>
      {% include hs-toggle.html id="opendata-f" %}

      <div class="details hs-target">
        <p>
          The data file is in an open and accessible format.
        </p><p>
          It's just an sqlite file. You can peer inside by opening it with any database program that supports sqlite (honourable mention: sqlitebrowser).
        </p><p>
          You can even modify data this way (or write a script to do so) but please be very very careful if you do.
        </p>
      </div>
    </div>

    {% include hs-checkbox.html id="privacy-f" %}
    <div class="feature feature-privacy">
      <h3 class="name">Privacy focused</h3>
      {% include hs-toggle.html id="privacy-f" %}

      <div class="details hs-target">
        <p>
          We don't want to know anything about you or your accounts*. The less we know, the better.
        </p><p>
          Since the data file is saved to your computer or phone, no one else has access to it except for you.
        </p><p>
          (If you save to a cloud folder via something like Dropbox or Google Drive, then the cloud folder provider might have access to it. We certainly don't.)          
        </p><p>
          For more information, please look up our privacy policy.
        </p><p class="fineprint">
          *The web edition contains software analytics.
        </p>
      </div>
    </div>

    {% include hs-checkbox.html id="invoices-f" %}
    <div class="feature feature-invoices">
      <h3 class="name">Tax compliant invoices</h3>
      {% include hs-toggle.html id="invoices-f" %}

      <div class="details hs-target">
        <p>
          Gig'o'Books creates tax compliant invoices in convenient PDF format. (Just make sure you fill in a tax id for all your customers.)
        </p><p>
          View a Sale transaction and click on the <code>PDF</code> link.
        </p>
      </div>
    </div>

    {% include hs-checkbox.html id="multi-tax-f" %}
    <div class="feature feature-multi-tax">
      <h3 class="name">Multiple tax authorities</h3>
      {% include hs-toggle.html id="multi-tax-f" %}

      <div class="details hs-target">
        <p>
          Satisfy tax reporting requirements for multiple tax authorities.
        </p><p>
          For example, if you sell eBooks to New Zealand and Canada and you consult to a client in Ireland, Gig'o'Books can produce tax reports (ie. GST101A, GST/HST, VAT3) for those three authorities, in their respective currencies, with the same set of books.
        </p><p>
          Currently, the following tax authorities are supported: Australia, Canada, Ireland, New Zealand.
        </p><p>
          If you need support for a tax authority, please contact us. We'd be happy to help.
        </p><p class="fineprint">
          (Adding a tax authority is not hard but we need a user to help test and verify. You could be that user.)
        </p>
      </div>
    </div>

    {% include hs-checkbox.html id="currency-f" %}
    <div class="feature feature-multi-currency">
      <h3 class="name">Multi-currency</h3>
      {% include hs-toggle.html id="currency-f" %}

      <div class="details hs-target">
        <p>
          Gig'o'Books has true multi-currency support. Transactions can be entered in any currency subject to the following limitation:
        </p>
        <ul><li>
          Sales and purchases can only be entered in a single currency (out of the currencies which are configured).
        </li></ul>
        <p>
          For example, there can be an invoice that is in USD and another invoice that is in EUR, but an invoice can't contain a USD amount and a EUR amount at the same time. (However, if you absolutely must need multi-currency within a single invoice, please contact us.)
        </p><p>
          Reports can show multiple currencies (where applicable), or can be configured to convert all amounts to a single currency (where applicable).
        </p>
      </div>
    </div>

    {% include hs-checkbox.html id="double-f" %}
    <div class="feature feature-double">
      <h3 class="name">Double entry</h3>
      {% include hs-toggle.html id="double-f" %}

      <div class="details hs-target">
        <p>
          Gig'o'Books uses double entry book-keeping underneath. Every transaction is stored as a series of debits and credits. It is also possible to manually enter transactions in double entry form (known as 'raw' transactions).
        </p><p>
          ('Double entry' doesn't mean you have to enter data twice. It refers to the industry-standard accounting technique of recording monetary amounts in two different columns and ensuring that the books balance. If you don't know what it is, there's no need to worry about it.)
        </p>
      </div>
    </div>

    {% include hs-checkbox.html id="open-source-f" %}
    <div class="feature feature-open-source">
      <h3 class="name">Open source</h3>
      {% include hs-toggle.html id="open-source-f" %}

      <div class="details hs-target">
        <p>
          The Community desktop edition is free and open source under the GNU Affero General Public License v3.0.
        </p>
      </div>
    </div>

    {% include hs-checkbox.html id="support-f" %}
    <div class="feature feature-support">
      <h3 class="name">Awesome support</h3>
      {% include hs-toggle.html id="support-f" %}

      <div class="details hs-target">
        <p>
          With Gig'o'Books, the people who provide support are the people who wrote the software. We understand the software.
        </p><p>
          Talk to someone knowledgeable ... and helpful too!
        </p><p>
          If you have any questions, comments, criticisms, feature requests, or anything, just drop us a line.          
        </p>
      </div>
    </div>
  </div>

  <div class="center">
    <div class="green-button"><a href="/webapp">Try Gig'o'Books</a></div>
  </div>
</div></div>

<a class="anchor" id="faqs"></a>
<div class="pane pane-faq"><div class="wrapper">
  <h2 class="pane-title">FAQs</h2>

  <div class="faq">
    {% include hs-checkbox.html id="data-trust-q" %}
    {% include hs-toggle.html id="data-trust-q" %}
    <span class="question">
      Can I trust you with looking after my data? How do you protect my data?
    </span>

    <div class="answer hs-target">
      <p>
        The beautiful answer to this question is: There's no need to!
      </p><p>
        Unlike other cloud-based or SaaS services, your file is not stored with us. Instead, it's stored on your own computer or phone.
      </p><p>
        Or if you save your file to a cloud folder by using something like Dropbox or Google Drive, it's saved to your own cloud, not ours. There's nothing for us to protect.
      </p>
    </div>
  </div>

  <div class="faq">
    {% include hs-checkbox.html id="cloud-storage-q" %}
    {% include hs-toggle.html id="cloud-storage-q" %}
    <span class="question">
      I want to store my file in the cloud. I want to use Gig'o'Books from any device. Can I do this?
    </span>

    <div class="answer hs-target">
      <p>
        Yes, you can!
      </p><p>
        Set up a cloud folder using something like Dropbox or Google Drive. Then, when you save your file, save it to the cloud folder.
      </p><p>
        Then, you can (use Gig'o'Books and) access the file from any device which has access to the folder.
      </p><p>
        (Speculation: In the future, we may consider having Gig'o'Books save directly to a user-provided cloud ie. Amazon S3.)
      </p>
    </div>
  </div>

  <div class="faq">
    {% include hs-checkbox.html id="unsuitable-q" %}
    {% include hs-toggle.html id="unsuitable-q" %}
    <span class="question">
      What is Gig'o'Books unsuitable for?
    </span>

    <div class="answer hs-target">
      <p>
        Gig'o'Books is unsuitable if:
      </p>
      <ul><li>
        You have employees or have to do payroll. &mdash; There's no support for either.
      </li><li>
        You have to keep track of inventory or stock. &mdash; There's no inventory or stock tracking feature. Although ... if you only have a small amount of stock to track, it might be do-able (albeit clumsy).
      </li><li>
        You have complicated financial affairs. &mdash; Unless you want to enter transactions as 'raw' double entry transactions.
      </li><li>
        More than one person works on the accounts at the same time.
      </li></ul>
      <p>
        To understand the last point, consider the following:
      </p>
      <ol><li>
        Alice opens a file with Gig'o'Books. 
      </li><li>
        Bob opens the same file with Gig'o'Books. (Let's assume the file is stored in a cloud folder. That's why two people can open it at the same time.)
      </li><li>
        Alice makes a change and saves the file.        
      </li><li>
        Bob makes a change and saves the file.
      </li></ol>
      <p>
        Oops! Bob overwrites Alice's change. Alice's change is lost.
      </p>
    </div>
  </div>
</div></div>

<div class="pane pane-remainder"><div class="wrapper">
  <h2 class="pane-title">One more thing</h2>

  <div class="center">
    <p>
      If you've read all the way down here, you should just try Gig'o'Books. Seriously, stop thinking about it and just do it. It's not like we've going to devour your brain or something.
    </p>
    <div class="green-button"><a href="/webapp">Try Gig'o'Books</a></div>
  </div>
</div></div>
