<h2>Early access to beta testing and new updates</h2>
<p>
    Sign up for early access when GigoBooks is ready for beta release. Enter your email below!
</p><p>
    <form
        action="https://buttondown.email/api/emails/embed-subscribe/gigobooks"
        method="post"
        target="popupwindow"
        onsubmit="window.open('https://buttondown.email/gigobooks', 'popupwindow')"
        class="embeddable-buttondown-form"
    >
        <label for="bd-email">Your email:</label>
        <input type="email" name="email" id="bd-email">
        <input type="hidden" value="1" name="embed"></input>
        <input type="submit" value="Sign up for early access"></input>
    </form>
</p><p>
    (I promise I won't spam you &mdash; bengtan)
</p>
