---
---

@import "{{ site.theme }}";

.wrapper {
  width: 920px;
}

section {
  width: 610px;
}

header {
  padding-right: 50px;
}

header li {
  width: auto;
}

a.buttons {
  background-image: none;
  padding-left: 2px;
}

a.demo {
  font-weight: bold;
}
